---
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import DecantsInfo from '../components/DecantsInfo.astro';
import WhySanture from '../components/WhySanture.astro';
import AboutUs from '../components/AboutUs.astro';
import CulturaEmpresarial from '../components/CulturaEmpresarial.astro';
import Reseñas from '../components/Reseñas.astro';
import FAQ from '../components/FAQ.astro';
import BlogPreview from '../components/BlogPreview.astro';
import EducacionOlfativa from '../components/EducacionOlfativa.astro';
import Footer from '../components/Footer.astro';

import Gallery from '../components/Gallery.astro';
import Form from '../components/Form.astro';
import WhatsappButton from '../components/WhatsappButton.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<style>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
</style>
<body>
	<NavBar />
	<Hero />
	<Gallery />
	<DecantsInfo />
	<WhySanture />
	<AboutUs />
	<CulturaEmpresarial />
	<Reseñas />
	<FAQ />
	<BlogPreview />
	<EducacionOlfativa />
	<Form />
	<Footer />
	<WhatsappButton />
</body>
</html>
